.body {
  text-align: center;
}
.productContainer {
  display: flex;
  flex-wrap: wrap;

}

.productContainer > div {
  align-items: center;
  max-width:300;
  box-shadow:  0 0  10px lightgreen ;
  margin: 10px;
}

.productContainer > div :hover {
  background-color: lightgrey;
  
}

