body{
  text-align: center;
  background-image: url("https://image.shutterstock.com/image-photo/blurred-image-shoes-store-shopping-260nw-309285191.jpg");
background-repeat: no-repeat;
background-size: cover;
}




.productContainer {
  display: flex;
  flex-wrap: wrap;
}
.productContainer > .link {
  text-align: center;
  width: 300px;
  box-shadow: 0 0 10px #463636;
  margin: 10px;
}

.productContainer > .link:hover {
  background-color: lightgray;
}